@import url("reset.css");


#section-1 {
    color: red;
}
#section-2 {
    color: blue
}
#section-3 {
    color: aquamarine;
}
#section-4 {
    color: blueviolet;
}
#section-5 {
    color: cadetblue;
}

.title {
    color: green;
}


[href] {
    color: darkorange;
}

p {
    color:brown;
}

p.text {
    color: darkblue;
}

.block-1 p {
    color:darkmagenta;
}

.block-2 * {
    color: chartreuse;
}




.text-link {
    color: chocolate;
}

.link {
    color: darkolivegreen;
}

